/*colors*/

/*

cream : #F4B52E;
sweet corn : #f0ead6;
//princess blue #00539c;
atTheElement : #659E7D;
tropical : #E93163;
blueCool : #219797;    //33,151,151
aqua : #356E99;
brownGranite #615550;

*/