/***********************tests********************************************/

:root {
	--white: #fefefe;
	--grey-light : #ededed;
	--cream : #F4B52E;
	--sweet-corn : #f0ead6;
	--green-element : #659E7D;
	--tropical : #E93163;
	--blue-cool : #219797;    /*//33,151,151*/
	--aqua : #356E99;
	--brown-granite : #615550;
	--grey-dark : #343a40;
	--grey-middle : #8F8F8F;
}

body{
	background-color: var(--white);
	font-family: 'Roboto', sans-serif;
}

/**************************HEADER******************************************/
.header{
	margin: 0px; 
	padding: 0px;
	height: 100%;
	border-bottom: 3px outset var(--blue-cool);
}

.menu{
	background-color: rgba(255, 255, 255, 0.5);
	left:0px;
	top:0px; position:absolute;
}

.photoHeader{
	width : 100%;
}
.logoHeader{
	width : 30%;
}

.logoSocialHeader{
	width: 10%; 	
}

/*************************FOOTER*************************************************/
.footerMain{
	background-color: rgba(255, 255, 255, 0.5);
	background-image: url("../images/photo/footer.jpg") ;
	background-position: center top;
}

.footer{
	padding-top: 15px;  
	background-color: rgba(255, 255, 255, 0.6);
	
}

.footerTitle{
	font-size: 38px;
	font-weight: bold;;
	font-family: 'Amatic SC', cursive;
	color:var(--brown-granite);
}

.footerMenu{
	 list-style-type: none;
	 margin:0;
	padding:0;
}

.logoFooter{ 
	width: 90%;
	max-width : 300px;
}

.logoSocialFooter{
	width: 60%;
	max-width : 300px;
}
.footerLast{
	color: #fff;
	background-color:var(--brown-granite);
	border-color:var(--brown-granite);
}

/******************************************PAGE CONTENT*******************************************/
.maPage{
	background-color: var(--white);
}

.separator{
	border: 2px var(--cream) solid;
	width: 150px;
}

.presaPack{
	background-color:var(--blue-cool);
}

.presaPackSingle{
	background-color: var(--grey-light);
}

.descPack{
	background-color: var(--grey-light);
}
.packCard{
	color: #fff;
	background-color:var(--brown-granite);
	border-color: var(--brown-granite);
}

.packImage{
	width: 90%;
}
.packSubTitle{
	font-size: 28px;
	font-family: 'Amatic SC', cursive;
	color: var(--brown-granite);
	
}
.tableHeader{
	background-color:var(--cream);
	border-color: var(--cream);
}

.blue{
	color: var(--aqua);
}
.legendIndispo{
	color: var(--tropical);
	font-size: 48px;
	opacity: 0.7;
}
.legendDispo{
	color: var(--green-element);
	font-size: 48px;
}
.dispo{
	background-color: var(--green-element);
	font-weight: bold;
}
.indispo{
	background-color: var(--tropical);
	font-weight: normal;
	opacity: 0.7;
}
.roundedTable{
	border-radius: 0.25em;
	overflow: hidden;
}
button.revert{
	background-color:#ffffff;
	border-color:var(--aqua);
	color:var(--aqua);
}
#carousel{
	max-width: 1000px;
	margin : auto;
}
/*************************override bootstrap***********************************/
h1{
	font-size: 52px;
	color: var(--cream);
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
}
h2{	
	font-size: 38px;
	color:var(--cream);
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
	text-align: center;
}
h3{
	font-size: 32px;
	font-weight: bold;
	color:var(--cream);
	font-family: 'Amatic SC', cursive;
}

.btn-warning {
    color: #fff;
    background-color: var(--cream);
    border-color:var(--cream);
}
.btn-warning:hover {
    color: #fff;
    background-color: var(--cream);
    border-color: var(--cream);
}

.btn-primary {
    color: #fff;
    background-color:var(--aqua);
    border-color: var(--aqua);
}
.btn-primary:hover {
    color: #fff;
    background-color:var(--aqua);
    border-color: var(--aqua);
}
.btn-success {
    color: #fff;
    background-color : var(--green-element);
    border-color:  var(--green-element);
}
.btn-success:hover {
    color: #fff;
    background-color: var(--green-element);
    border-color: var(--green-element);
}
.btn-danger {
    color: #fff;
    background-color:var(--tropical);
    border-color:  var(--tropical);
}
.btn-danger:hover {
    color: #fff;
    background-color:var(--tropical);
    border-color: var(--tropical);
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: var(--blue-cool);
}
.dropdown-item:hover {
    color: #fff;
    text-decoration: none;
	background-color:  var(--blue-cool);
	opacity: 0.5;
}
.btn-blue {
    color: #fff;
    background-color:var(--aqua);
    border-color: var(--aqua);
}
.btn-blue:hover {
    color: #fff;
    background-color:var(--aqua);
    border-color: var(--aqua);
}
.tooltip-inner {
	background-color: var(--blue-cool);
	opacity: 0.7;
}
.tooltip.bs-tooltip-right .arrow:before {
	border-right-color: var(--blue-cool) !important;
	opacity: 0.7;
}
.tooltip.bs-tooltip-left .arrow:before {
	border-left-color:  var(--blue-cool) !important;
	opacity: 0.7;
}
.tooltip.bs-tooltip-bottom .arrow:before {
	border-bottom-color:  var(--blue-cool) !important;
	opacity: 0.7;
}
.tooltip.bs-tooltip-top .arrow:before {
	border-top-color:  var(--blue-cool) !important;
	opacity: 0.7;
}


